/* src/index.css */
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/ui.css";
@import "./styles/calendar.css";
@import "./styles/calendar-fix.css";
@import "./styles/school.css";
@import "./styles/dept.css";